<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css' />
  <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<style>
.carousel-inner{
    width:1000px;
    height:600px;
    text-align: center;
    border-radius: 20px;
    margin-left: 25em;
    margin-top: 3em;
    box-shadow:  0 30px 50px #505050;
}
.buttons{
    margin-top: 10px;
    bottom:30px;
    z-index: 222222;
    text-align: center;
    width:100%;
}
.buttons button{
    width:50px;
    height:50px;
    border-radius: 50%;
    border:1px solid #555;
    box-shadow:  0 10px 50px #505050;
}.buttons button:hover{
    background-color: #eecbbd;
}
.names{
    font: normal 35px 'Cookie', cursive;    
    font-weight: bold;
    opacity: 0;
    animation:showcontent 1s ease-in-out 1 forwards
}
.contents {
  font-family: system-ui;
  font-size: 15px;
  opacity: 0;
  animation:showcontent 1s ease-in-out 0.3s 1 forwards
}
@keyframes showcontent{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter:blur(33px);
    }to{
        opacity: 1;
        transform: translate(0,0);
        filter:blur(0);
    }
}
</style>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <img src="{{ getSlide() }}" alt="slide" width="1000px" height="500px"/>
      <div class="names"[innerHTML]="currentName"></div>
      <div class="contents"[innerHTML]="currentContent"></div>
    </div>
  </div>
  <div class="buttons">
    <button (click)="getPrev()"><i class="fa-solid fa-angle-left"></i></button>
    <button (click)="getNext()"><i class="fa-solid fa-angle-right"></i></button>
  </div>